<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.umd.min.js"
    ></script>

    <style>
      /* These are the KEY styles - you can add them directly to any object you want in your project */
      .btn {
        background-color: #00ed64;
        color: #000000;
      }
      .btn:hover {
        background-color: #00ed64;
        border-radius: 30px;
        border: 1px solid #000000;
        color: #000000;
      }
      .svg-background {
        background-image: url('http://localhost:3000/images/signin.svg'); /* Correct the path */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div class="svg-background">
      <%- include('../flash/homeFlash') %>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7">
            <div class="card text-center">
              <div class="card-header bg-success text-light">Welcome!</div>
              <div class="card-body">
                <h5 class="card-title">Sign in</h5>
                <form action="/signin" method="POST">
                  <div class="form-outline">
                    <div class="row">
                      <div class="col-7">
                        <input
                          type="email"
                          id="typeEmail"
                          class="form-control"
                          name="email"
                        />
                        <label class="form-label" for="typeEmail"
                          >Enter Email
                        </label>
                      </div>
                      <div class="col-5">
                        <button type="submit" class="btn" data-mdb-ripple-init>
                          Next
                          <i class="fas fa-arrow-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer text-muted">2 days ago</div>
            </div>
          </div>

          <!-- <div class="fancy-border-radius"></div> -->
        </div>
      </div>
    </div>
  </body>
</html>
