<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.umd.min.js"
    ></script>
    <style>
      /* Button styles */
      .btn {
        background-color: #00ed64;
        color: #000000;
      }
      .btn:hover {
        background-color: #00ed64;
        border-radius: 30px;
        border: 1px solid #000000;
        color: #000000;
      }

      /* SVG Background */
      .svg-background {
        position: relative;
        background-image: url('http://localhost:3000/images/signin.svg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
      }

      /* Quotes styling */
      .quote-container {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
        text-align: center;
        color: #92e3a9;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        padding: 0 20px;
        z-index: 10;
      }

      /* Card Styling */
      .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <%- include('../flash/homeFlash') %>

    <div class="svg-background">
      <!-- Quotes Section -->
      <div class="quote-container">
        <div class="row">
          <div class="col-8">
            <h3>"<%= quotes.text %> " -- <%= quotes.author %></h3>
          </div>
          <div class="col-4">
            <script
              src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
              type="module"
            ></script>
            <dotlottie-player
              id="lottie-player"
              src="https://lottie.host/a3a5fc73-aa03-4163-8da7-759edeba9ea2/QjYx1Ps2GC.lottie"
              speed="1"
              style="
                width: 300px;
                height: 600px;
                margin-top: 20px;
                margin-bottom: 20;
                padding-bottom: 80px;
              "
              loop
              autoplay
            ></dotlottie-player>
          </div>
        </div>
      </div>

      <!-- Sign-In Form -->
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-md-7">
            <div class="card text-center">
              <div class="card-header bg-success text-light">Welcome!</div>
              <div class="card-body">
                <h5 class="card-title">Sign in</h5>
                <form action="/signin" method="POST">
                  <div class="form-outline">
                    <div class="row">
                      <div class="col-7">
                        <input
                          type="email"
                          id="typeEmail"
                          class="form-control"
                          name="email"
                          required
                        />
                        <label class="form-label" for="typeEmail"
                          >Enter Email</label
                        >
                      </div>
                      <div class="col-5">
                        <button type="submit" class="btn" data-mdb-ripple-init>
                          Next
                          <i class="fas fa-arrow-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer text-muted">2 days ago</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
