<div class="sidebar mt-5">
  <a href="/teacher/dashboard" class="brand text-danger">Dashboard</a>
  <a class="nav-link" href="/teacher/dashboard">
    <i class="fas fa-home"></i> Dashboard
  </a>
  <a class="nav-link" href="/teacher/changecalender">
    <i class="fas fa-calendar-alt"></i> Availability Calendar
  </a>

  <a class="nav-link" href="/teacher/PaymentHistory">
    <i class="fas fa-history"></i> Transaction History
  </a>
  <a class="nav-link" href="/teacher/ChangePassword">
    <i class="fas fa-key"></i> Change Password
  </a>
  <a class="nav-link" href="/teacher/viewprofile">
    <i class="fas fa-user"></i> View Profile
  </a>
  <a class="nav-link" href="/logout">
    <i class="fas fa-sign-out-alt"></i> Log Out
  </a>
</div>
