<div class="sidebar" id="sidebarMenu">
  <nav class="nav flex-column sidebar fixed-top">
    <a class="nav-link" href="/admin/dashboard">Dashboard</a>
    <a class="nav-link" href="/admin/teacher">Teachers</a>
    <a class="nav-link" href="/admin/student">Students</a>
    <a class="nav-link" href="/admin/Complaints">Complaints</a>
    <a class="nav-link" href="/admin/TeacherVerification">Account Approval</a>
    <a class="nav-link" href="/admin/PaymentMangement">Payment Management</a>
    <a class="nav-link text-danger" href="/logout">Logout</a>
  </nav>
</div>
